@using DrumBeatsUI.Models
@model IEnumerable<Exercise>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Exercises";
}
<h1 style="align-content: center">Exercises</h1>
@foreach (Exercise exercise in Model)
    {
        <div class="card" id="#ExerciseCard" style="border-radius: 10%">
            <div class="card-content" style="border-radius: 10%">
                <div class="card-header">
                    @exercise.Title
                </div>
                <div class="card-body">
                    <p class="card-text">@exercise.Description</p>
                    <p class="card-img"></p>
                    <a href="#" class="btn btn-outline-success">Перейти</a>
                </div>
            </div>
        </div>
    }

<div class="card mb-3" style="max-width: 540px;" id="#ExerciseCard">
    <div class="row g-0">
        <div class="col-md-4">
            <img id="#CardImage"
                 style="height: 95%"
                src="https://a.allegroimg.com/original/112bae/e1dbd1ba4cee81a2548677b2927e/TWENTY-ONE-PILOTS-SCALED-AND-ICY-CD"
                alt="SCALED AND ICY"
                class="img-fluid rounded"
            />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                </p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
    </div>
</div>